.headerWrapper {
  margin: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    @media (max-width: 470px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
}

.logoWrapper {
  max-width: 130px;
  margin: 20px;
}

.buttonWrapper {
    > .headerBtn {
    background-color: #3ea9f5;
    color: #fff;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 20px;
      @media (max-width:470px) {
        padding: 10px 15px;
      }
  }
}
