.headerWrapper {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #3ea9f5;
  color: #fff;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}